<div class="hero-unit">
  <h1>Chemistry World</h1>
  <p>Wanna learn more about crazy experimentations ?
  <p>
    <div class="btn btn-primary btn-large">
      <%= link_to "It's Here", posts_path,{:style=>'color:#FFFFFF;', :class => "css_class"} %>
    </div>
  </p>
</div>